@using EasyUI.Liuy.Domain.Models
@model EasyUI.Liuy.Domain.Models.WorkOrder

@{
    ViewBag.Title = "Details";
}
<style>
    .tb tr { height: 25px; text-align: center; }

    .striped { background-color: #F1F1F1; }
</style>
<script>
    $(function () {
        $("#form1 table tr td:nth-child(odd)").css("color", "#3B7EC3");
        $("#form1  table tr:nth-child(even)").addClass("striped");
        //隐藏受理
        $("#sl-div2").css("display", "none");
        //隐藏Si
        $("#obj").css("display", "none");
        $("#objselect").css("display", "none");

        $("#ProcessingMode").combobox({
            onSelect: function () {
                var model = $("#ProcessingMode").combobox("getValue");
                if (model == "转相关SI") {
                    $("#obj").fadeIn("slow");
                    $("#objselect").fadeIn("slow");
                } else {
                    $("#obj").fadeOut("slow");
                    $("#objselect").fadeOut("slow");
                }
            }
        });

        $("#sl-btn").click(function () {

            $("#CreateTime").val(CurentTime);
            $("#sl-div2").slideDown("slow");
            $("#sl-div1").css("display", "none");
            $("#Attachment").change(function () {
                var att = $("#Attachment").val();
                $("#hid-Attachment").val(att.substring(12, att.length));

            });
        });
    });
    //受理时间
    function CurentTime() {
        var now = new Date();

        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDate();

        var hh = now.getHours();
        var mm = now.getMinutes();
        var se = now.getSeconds();

        var s = year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day) + " " + (hh < 10 ? "0" + hh : hh) + ":" + (mm < 10 ? "0" + mm : mm) + ":" + (se < 10 ? "0" + se : se);

        return (s);
    }
    function submitForm() {
        $('#ff').form('submit', {
            success: function (data) {
                if (data == "OK") {
                    window.location.href = "/WorkOrder/Pending";
                }
            }
        });
    }
</script>
<div data-options="region:'north',title:'工单详细信息'" style="height: 100px;" border="false" fit="true">
    <form id="form1">
        <table cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed;" class="tb">

            <tr>
                <td style="color: #0099FF;" colspan="4">
                    <h3>工单详细信息</h3>
                </td>
            </tr>
            <tr>
                <td>工单号</td>
                <td>@Model.Id</td>
                <td>工单类型</td>
                <td>@Model.Type</td>
            </tr>
            <tr>
                <td>相关SI</td>
                <td>@Model.SI</td>
                <td>相关产品</td>
                <td>@Model.Product.Name</td>

            </tr>
            <tr>
                <td>SIM卡号</td>
                <td>@Model.SIM</td>
                <td>终端编号</td>
                <td>@Model.Terminal</td>
            </tr>
            <tr>
                <td>建单时间</td>
                <td>@Model.CreateTime</td>
                <td>处理时间</td>
                <td>@Model.ProcessingTime</td>
            </tr>
            <tr>
                <td>相关终端数量</td>
                <td>@Model.Quantity</td>
                <td>问题描述</td>
                <td>@Model.ProblemDescription</td>

            </tr>
            <tr>
                <td>状态</td>
                <td style="color: green">@Model.State</td>
            </tr>
            <tr>
                <td style="color: #0099FF;" colspan="4">
                    <h3>客户详细信息</h3>
                </td>

            </tr>
            <tr>
                <td>客户 名称</td>
                <td>@Model.Company</td>
                <td>联系人</td>
                <td>@Model.Contact</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>@Model.Sex</td>
                <td>联系电话</td>
                <td>@Model.Phone</td>
            </tr>
        </table>

    </form>
    <div style="text-align: center; padding: 10px; background-color: #FFFFFF">
        <h3 style="color: #0099FF;">回复信息</h3>
    </div>

    <form id="form2">
        <table id="dg" class="easyui-datagrid" style="width: auto; height: auto;" data-options="singleSelect:true,collapsible:true,fitColumns: true">
            <thead>
                <tr>
                    <th data-options="field:'Id',width:80,align:'center'">序号</th>
                    <th data-options="field:'AcceptanceDep',width:80,align:'center'">受理单位</th>
                    <th data-options="field:'AcceptancePhone',width:80,align:'center'">联系电话</th>
                    <th data-options="field:'ProcessingMode',width:80,align:'center'">处理方式</th>
                    <th data-options="field:'SI',width:80,align:'center'">转交对象</th>
                    <th data-options="field:'CreateTime',width:80,align:'center'">受理时间</th>
                    <th data-options="field:'ProcessingTime',width:80,align:'center'">处理时间</th>
                    <th data-options="field:'Suggestion',width:80,align:'center'">意见</th>
                    <th data-options="field:'Attachment',width:80,align:'center'">附件</th>

                </tr>
            </thead>

            @foreach (ReplyMessage s in ViewBag.model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.AcceptanceDep</td>
                    <td>@s.AcceptancePhone</td>
                    <td>@s.ProcessingMode</td>
                    <td>@s.SI</td>
                    <td>@s.CreateTime</td>
                    <td>@s.ProcessingTime</td>
                    <td>@s.Suggestion</td>
                    <td><a href="/Uploads/@s.Attachment">@s.Attachment</a></td>
                </tr>
            }

        </table>
    </form>
    <div style="text-align: center; padding: 10px; background-color: #D3DFEB">
        <div id="sl-div2">

            @using (Html.BeginForm("Acceptance", "WorkOrder", FormMethod.Post, new { id = "ff", enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="Id"  value="@Model.Id"/>
                <input type="hidden" id="CreateTime" name="CreateTime" />
                <div class="easyui-panel" title="受理工单" style="width: auto;">
                    <div style="padding: 10px 0 10px 400px">
                        <table style="text-align: center;">
                            <tr>
                                <td>处理意见:</td>
                                <td colspan="3">
                                    <textarea class="easyui-validatebox" data-options="required:true" name="Suggestion" style="height: 60px; width: 410px"></textarea></td>
                            </tr>
                            <tr>
                                <td>上传附件:</td>
                                <td colspan="3">
                                    <input type="file" name="Attachment" id="Attachment" />
                                    <input type="hidden" name="hid-Attachment" id="hid-Attachment" />
                                </td>
                            </tr>
                            <tr>
                                <td>处理方式:</td>
                                <td>
                                    <select class="easyui-combobox" name="ProcessingMode" id="ProcessingMode">
                                        <option value="直接归档">直接归档</option>
                                        <option value="转相关SI">转相关SI</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td id="obj">提醒对象:</td>
                                <td id="objselect">
                                    <select class="easyui-combobox" name="SI" id="SI">
                                        <option value="重庆君翰科技有限公司">重庆君翰科技有限公司</option>
                                        <option value="上海捷波">上海捷波</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="text-align: center; padding: 5px 220px 10px 250px">

                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="window.history.go(-1)">返回</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" id="submit">提交处理</a>
                        @*                        <input type="submit" value="提交" />*@
                        @*                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:window.location.href = '/WorkOrder/Acceptance/@Model.Id'">阶梯性回复</a>*@
                    </div>
                </div>
            }
        </div>
        <div id="sl-div1">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="window.location.href='/WorkOrder/Pending'">返回</a>
            @if (ViewBag.type == "OK")
            {
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="" id="sl-btn">追回工单</a>
            }
            else
            {
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="" id="sl-btn">受理</a>
            }
        </div>


    </div>
</div>
